div#secondary.ytd-watch-flexy {
    display: none!important;
}

#comments.ytd-watch-flexy {
    display: none!important;
}


@media screen and (max-width: 1014px) {
    ytd-watch-next-secondary-results-renderer.ytd-watch-flexy {
        display: none!important;
    }
    ytd-watch-metadata.ytd-watch-flexy {
        margin-bottom: 24px;
    }
}
@media screen and (min-width: 1015px) {
    ytd-watch-flexy div#primary.ytd-watch-flexy {
        max-width: 100%!important;
    }
}

ytd-browse.ytd-page-manager:not([page-subtype="channels"]) {
    display: none!important;
}

ytd-section-list-renderer:not([page-subtype="channels"]) ytd-shelf-renderer {
    display: none!important;
}
ytd-guide-entry-renderer:has(a[title="Shorts"]) {
    display: none!important;
}
div.ytp-endscreen-content {
    display: none!important;
}