div#secondary.ytd-watch-flexy {
    display: none !important;
}

#comments.ytd-watch-flexy {
    display: none !important;
}

@media screen and (max-width: 1014px) {
    ytd-watch-next-secondary-results-renderer.ytd-watch-flexy {
        display: none !important;
    }

    ytd-watch-metadata.ytd-watch-flexy {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1015px) {
    ytd-watch-flexy div#primary.ytd-watch-flexy {
        max-width: 100% !important;
    }
}

ytd-browse:is([page-subtype="home"]) {
    display: none !important;
}

ytd-section-list-renderer:not([page-subtype="channels"], [page-subtype="history"], [page-subtype="playlist"]) 
ytd-shelf-renderer:has(div[id*="dismissible"]):not(:has(ytd-grid-movie-renderer)) {
 display: none!important;
}
/* Removing Shorts from the sidebar */
ytd-guide-entry-renderer:has(a[title="Shorts"]) {
    display: none !important;
}

ytd-mini-guide-entry-renderer:has(a[title="Shorts"]) {
    display: none !important;
}

ytd-reel-shelf-renderer {
    display: none !important;
}

/* Removing endscreen recommendations */
div.ytp-endscreen-content {
    display: none !important;
}